@media screen and (min-width: 0px) and (max-width: 480px) {
    /* Event Page*/
    .Doctors-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
    .doctor-card{
      width: 85%;
    }
    
    .Payment-Method{
        margin: auto ;
        width: 90%;
    }
    .Payment-Method .payment-text{
        font-size: 12px;
        padding: 5px;
    }
    .Payment-Method .payment-text h1{
        font-size: 12px;
        padding: 2px;
    }
    .Payment-Method .Doctor-Info h4{
        color: #114b7a;
        font-weight: bold;
        font-family: Poppins, sans-serif;
        padding: 10px;
        font-size: 12px;
      }
      
      .Payment-Method .Doctor-Info .doctor-location .locations{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      .Payment-Method .Doctor-Info .doctor-location .locations .location-btn{
        padding: 10px;
        font-size: 12px;
        width: 50%;
      }
      .Payment-Method .Doctor-Info .doctor-location .locations .location-btn:focus{
        background-color: #183a59;
        color: #fff;
        transition: ease-in-out 0.3s;
      }
      .Payment-Method .Doctor-Info .package-includes .package-list{
        color: #114b7a;
        font-size: 12px;
        font-weight: 500;
      }
      .Payment-Method .Doctor-Info .package-includes h4{
        margin: 0;
      }
      
      .Payment-Method .goBookNow{
        width: 100%;
      }

      .Payment-Method .goBookNow .BookNow-btn {
        color: #fff;
        padding: 10px;
        font-size: 15px;
        background-color: #114b7a;
        margin: auto;
        width: 20%;
      }
      .Payment-Method .goBookNow .BookNow-btn {
        color: #fff;
        padding: 10px;
        font-weight: 500;
        border-radius: 10px;
        font-size: 12px;
        background-color: #114b7a;
        margin: auto;
        width: 35%;
      }
      .bookDiv .goBook-btn{
        color: #fff;
        padding: 10px;
        font-weight: 500;
        border-radius: 10px;
        font-size: 12px;
        background-color: #114b7a;
        margin: 25px auto;
        width: 35%;
      }
      .first-name-input, .last-name-input, .phone-input, .email-input{
        width: 60%;
        padding: 5px;
      }
      .email-input{
        width: 70%;
      }
      
      #Book-Form #surgeryArea{
        width: 100%;
      }

      .goPayDiv .Pay-btn{
        color: #fff;
        padding: 15px;
        font-weight: 500;
        border-radius: 10px;
        font-size: 15px;
        background-color: #114b7a;
        margin: 25px auto;
      }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Event Page*/
    .Doctors-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .doctor-card{
      width: 45%;
    }
    
    .Payment-Method{
        margin: auto ;
        width: 90%;
    }
    .Payment-Method .payment-text{
        padding: 5px;
    }
    .Payment-Method .payment-text h1{
        font-size: 20px;
        padding: 10px;
    }
    .Payment-Method .Doctor-Info h4{
        color: #114b7a;
        font-weight: bold;
        font-family: Poppins, sans-serif;
        padding: 10px;
        font-size: 15px;
      }
      
      .Payment-Method .Doctor-Info .doctor-location .locations{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      .Payment-Method .Doctor-Info .doctor-location .locations .location-btn{
        padding: 10px;
        font-size: 15px;
        width: 50%;
      }
      .Payment-Method .Doctor-Info .doctor-location .locations .location-btn:focus{
        background-color: #183a59;
        color: #fff;
        transition: ease-in-out 0.3s;
      }
      .Payment-Method .Doctor-Info .package-includes .package-list{
        color: #114b7a;
        font-size: 15px;
        font-weight: 500;
      }
      .Payment-Method .Doctor-Info .package-includes h4{
        margin: 0;
      }
      
      .Payment-Method .goBookNow{
        width: 100%;
      }

      .Payment-Method .goBookNow .BookNow-btn {
        color: #fff;
        padding: 10px;
        font-size: 15px;
        background-color: #114b7a;
        margin: auto;
        width: 20%;
      }

      .bookDiv .goBook-btn{
        color: #fff;
        padding: 10px;
        font-weight: 700;
        border-radius: 10px;
        font-size: 15px;
        background-color: #114b7a;
        margin: 25px auto;
        width: 15%;
      }
      .first-name-input, .last-name-input, .phone-input, .email-input{
        width: 50%;
        padding: 5px;
      }
      .email-input{
        width: 60%;
      }
      
      #Book-Form #surgeryArea{
        width: 90%;
      }

      .goPayDiv .Pay-btn{
        color: #fff;
        padding: 15px;
        font-weight: 700;
        border-radius: 10px;
        font-size: 20px;
        background-color: #114b7a;
        margin: 25px auto;
      }


}
@media screen and (min-width: 769px) and (max-width: 1279px) {
    /* Event Page*/
    .Doctors-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
    
    .doctor-card{
      width: 45%;
    }

    .Payment-Method{
        margin: auto ;
        width: 90%;
    }
    .Payment-Method .payment-text{
        padding: 5px;
    }
    .Payment-Method .payment-text h1{
        font-size: 25px;
        padding: 10px;
    }
    .Payment-Method .Doctor-Info h4{
        color: #114b7a;
        font-weight: bold;
        font-family: Poppins, sans-serif;
        padding: 10px;
        font-size: 20px;
      }
      
      .Payment-Method .Doctor-Info .doctor-location .locations{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      .Payment-Method .Doctor-Info .doctor-location .locations .location-btn{
        padding: 10px;
        font-size: 20px;
        width: 50%;
      }
      .Payment-Method .Doctor-Info .doctor-location .locations .location-btn:focus{
        background-color: #183a59;
        color: #fff;
        transition: ease-in-out 0.3s;
      }
      .Payment-Method .Doctor-Info .package-includes .package-list{
        color: #114b7a;
        font-size: 20px;
        font-weight: 500;
      }
      .Payment-Method .Doctor-Info .package-includes h4{
        margin: 0;
      }
      
      .Payment-Method .goBookNow{
        width: 100%;
      }

      .Payment-Method .goBookDay .Book-btn {
        color: #fff;
        padding: 10px;
        font-size: 15px;
        background-color: #114b7a;
        margin: 15px auto;
        width: 20%;
      }

      .bookDiv .goBook-btn{
        color: #fff;
        padding: 10px;
        font-weight: 700;
        border-radius: 10px;
        font-size: 15px;
        background-color: #114b7a;
        margin: 25px auto;
        width: 15%;
      }

      .first-name-input, .last-name-input, .phone-input, .email-input{
        width: 40%;
        padding: 5px;
      }
      .email-input{
        width: 50%;
      }
      
      #Book-Form #surgeryArea{
        width: 90%;
      }


      .goPayDiv .Pay-btn{
        color: #fff;
        padding: 15px;
        font-weight: 700;
        border-radius: 10px;
        font-size: 20px;
        background-color: #114b7a;
        margin: 25px auto;
      }
}